body{

margin:0;
font-family:Arial;
background:linear-gradient(135deg,#1abc9c,#16a085);
height:100vh;

}

.title{

text-align:center;
color:white;
margin-top:20px;
font-size:40px;

}

.main-container{

display:flex;
justify-content:center;
align-items:center;
height:80vh;

}

/* Login Box */

.login-container{

background:#e3e6e6;
padding:40px;
border-radius:20px;
width:350px;
text-align:center;
box-shadow:0 0 20px rgba(0,0,0,0.2);

}

.login-container h2{

margin-bottom:20px;

}

.login-container input{

width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;

}

.login-container button{

width:100%;
padding:12px;
background:#1f9d4c;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;

}

.login-container button:hover{

background:#18853f;

}

.tagline{

margin-top:15px;
font-size:14px;

}

/* Animation Area */

.animation-area{

width:300px;
position:relative;
margin-right:80px;

}

/* Cleaner */

.cleaner{

position:relative;
animation:moveCleaner 4s infinite alternate;

}

.head{

width:35px;
height:35px;
background:#f1c27d;
border-radius:50%;

}

.body{

width:45px;
height:70px;
background:#2c7be5;
border-radius:10px;
margin-top:-5px;

}

.arm{

width:12px;
height:50px;
background:#f1c27d;
position:absolute;
left:40px;
top:35px;
transform-origin:top;
animation:sweep 1s infinite alternate;

}

.broom{

width:65px;
height:6px;
background:brown;
position:absolute;
left:50px;
top:75px;

}

/* Trash */

.trash{

position:absolute;
font-size:28px;
animation:floatTrash 4s infinite alternate;

}

.trash1{

left:80px;
top:120px;

}

.trash2{

left:140px;
top:140px;
animation-delay:1s;

}

.trash3{

left:200px;
top:110px;
animation-delay:2s;

}

/* Animations */

@keyframes moveCleaner{

0%{transform:translateX(0);}
100%{transform:translateX(30px);}

}

@keyframes sweep{

0%{transform:rotate(25deg);}
100%{transform:rotate(-25deg);}

}

@keyframes floatTrash{

0%{transform:translateY(0);}
100%{transform:translateY(-40px);}

}
